/*
 * O restante dos estilos vem do Tailwind CSS, referenciado no HTML.
 * Este arquivo é para estilos que não são classes Tailwind.
 */

.hide {
    display: none !important;
}

.correct-answer {
    background-color: #34d399;
    color: white;
    font-weight: bold;
}

.wrong-answer {
    background-color: #f87171;
    color: white;
    font-weight: bold;
}

.answer-button:disabled:not(.answer-template) {
    cursor: not-allowed;
}