  /* Importação da fonte */
        @import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

        .momo-signature-regular {
            font-family: "Momo Signature", cursive;
            font-weight: 400;
            font-style: normal;
        }
 
        /* Estilos customizados para o quiz */
        .hide {
            display: none !important;
        }

        /* Estilo para as respostas */
        .answer-button {
            /* Tailwind classes for styling the button */
            @apply w-full flex items-center p-4 mb-4 bg-white border border-gray-300 rounded-lg text-lg font-medium shadow-md transition-all duration-300 hover:bg-gray-100 cursor-pointer;
        }

        .btn-letra {
            /* Tailwind classes for the letter circle */
            @apply bg-lime-400 text-white font-bold w-8 h-8 flex justify-center items-center rounded-full mr-4 text-sm;
        }

        /* Classes para indicar acerto ou erro */
        .correct-answer {
            @apply bg-green-200 border-green-500 shadow-lg !important;
        }

        .wrong-answer {
            @apply bg-red-200 border-red-500 shadow-lg !important;
        }

        .correct-answer .btn-letra {
            @apply bg-green-600 !important;
        }

        .wrong-answer .btn-letra {
            @apply bg-red-600 !important;
        }